<%- include('partials/header.ejs', {title: "About"}) %>
<div class="container">
  <!-- bootstrap class centers the p tags. -->
  <div class="row mt-5 justify-content-center">
    <div class="col-md-9 row mt-5">
      <!-- bootstrap class used in h1 tag centers the header text. For some reason, the bootstrap from the parent div won't center the h1 tag. -->
      <!-- <h1 class="row mt-5 justify-content-center">Summary</h1> -->
      <article>
        <!-- <p>Phillip Magos is a full-stack web developer with a background in marketing and a passion for creating. He is a graduate of the University of Texas at Austin's Full Stack Web Development Bootcamp. He is currently working as a freelance web developer and is open to new opportunities.</p> -->
        <h2 class="text-center bg-light">FRONTEND</h2>
        <div class="row">
          <p class="col-12">I have a strong skill set in web development, encompassing proficiency in HTML & CSS for creating well-structured web pages, utilizing the Bootstrap framework to efficiently build responsive websites, leveraging JavaScript to develop dynamic and interactive web experiences, employing React.js to create scalable and reusable UI components, implementing responsive design principles to ensure seamless user experiences across devices, and utilizing jQuery to streamline DOM manipulation and create engaging web interactions.</p>
          <div class="container">
          <ul class="row bg">
            <div class="col">
            <li>HTML & CSS</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
            <li>React.JS</li>
          </div>
          <div class="col">
            <li>Responsive Design 🖥️ || 📱</li>
            <li>jQuery 🤏</li>
            <li><a href="#">See Related Projects</a></li>
          </div>
          </ul>
        </div>

      </div>
        <h2 class="text-center bg-light">BACKEND</h2>
        <p class="col-12">I possess a comprehensive skill set in backend web development, encompassing expertise in Node.js for building scalable server-side applications, utilizing Express.js to create robust and RESTful APIs, working with SQL for efficient data management, leveraging MongoDB for flexible NoSQL database solutions, designing and implementing APIs for seamless system communication, proficiently handling JSON for data interchange, and adhering to RESTful principles for scalable web service architectures.</p>
        <div class="container">
        <ul class="row">
          <div class="col">
          <li>Node.JS</li>
          <li>Express.JS</li>
          <li>SQL</li>
          <li>MongoDB</li>
        </div>
        <div class="col">
          <li>APIs</li>
          <li>JSON</li>
          <li>REST</li>
          <li><a href="#">See Related Projects</a></li>
        </div>
        </ul>
      </div>
        <h2 class="bg-light text-center">RELATED SKILLS</h2>
        <div class="container">
        <ul class="row">
        <div class="col">
        <li>Python</li>
        <li>GIT</li>
        <li>JIRA</li>
        <li>Webapp Deployment & Management: Render, Vercel & Wordpress</li>
      </div>
      <div class="col">
        <li>Command Line</li>
        <li>Agile Development</li>
        <li>Postman</li>
      </div>
      </ul>
    </div>

        <h2 class="bg-light p-1 mt-4 text-center">CONTINUOUS LEARNING</h2>
        <div class="container">
        <ul class="row">
          <li>Python</li>
          <li>C# - <a href="https://www.codecademy.com/learn">CodeAcademy</a></li>
          <li>Tailwind CSS</li>
          <li>Nest.JS</li>
        </ul>
      </div>
        <h3 class="justify-content-center">Book an interview today <a href="/contact">Book an interview today</a></h3>

      </article>
    </div>
  </div>
</div>
<div class="row-10"></div>
<%- include('partials/footer.ejs') %>