<%- include('partials/header.ejs', {title: "Contact"}) %>
<div class="row mt-5 justify-content-center">
  <div class="col-md-6">
    <h1 class="justify-content-center">For inquiries, contact phillipmagos@gmail.com</h1>
    <!-- Next line is used as a crutch to add space between container and the footer -->
    <!-- <img src="https://wallpaperaccess.com/full/1556608.jpg" width="100" height="300" alt=""> -->
<div class="d-flex justify-content-center align-items-center">
  <form action="">
    <div class="form-group mb-3">
    <label for="fname">First Name:</label>
    <input type="text" for="fname" id="fname" name="fname">
  </div>
  <div class="form-group mb-3">
    <label for="lname">Last Name:</label>
    <input type="text" for="lname" id="lname" name="lname">
  </div>
  <div class="form-group mb-3">
    <label for="email">Email:</label>
    <input type="text" for="email" id="email" name="email">
  </div>
  <div class="form-group mb-3">
    <label for="subject">Subject:</label>
    <input type="text" for="subject" id="subject" name="subject">
  </div>
  <div class="form-group mb-3">
    <label for="message">Message:</label>
    <input style="height:50px" type="text" for="message" id="message" name="message">
  </div>
    <br>
    <div class="form-group mb-3"></div>
    <input type="submit" value="Submit">
  </form>
</div>
  <article>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed eos animi sapiente fugit vitae dolorum aut ratione architecto minus porro illo non quibusdam nulla eveniet repellendus corporis nemo, error ut?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed eos animi sapiente fugit vitae dolorum aut ratione architecto minus porro illo non quibusdam nulla eveniet repellendus corporis nemo, error ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, corporis reprehenderit praesentium, quo tempore id consequatur nobis aspernatur, ipsam illum architecto dolores culpa laboriosam. Sapiente distinctio autem laudantium. Id, numquam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias error deleniti a velit ullam eveniet quibusdam impedit assumenda voluptas. Eos a consequatur quibusdam sequi quae reiciendis aut ea autem veniam?</p>
  </article>
  <img src="https://wallpaperaccess.com/full/1556608.jpg" width="100" height="300" alt="">
</div>
</div>
</div>
<%- include('partials/footer.ejs') %>