<%- include('partials/header.ejs', {title: "About"}) %>
<div class="container">
  <!-- bootstrap class centers the p tags. -->
  <div class="row mt-5 justify-content-center">
    <div class="col-md-8 row mt-5 justify-content-center">
      <!-- bootstrap class used in h1 tag centers the header text. For some reason, the bootstrap from the parent div won't center the h1 tag. -->
      <h1 class="row mt-5 justify-content-center">About 512unes</h1>
      <h2>Templates</h2>
      <H2>Widgets</H2>
      <p>We're here to promote all of the things in Austin that people are already talking about. This city has a one-of-a-kind culture and universal appeal, and we want to make sure people know about it.</p>
      <p>The Promise of Austin - where music is inspired, created, recorded and performed - is to provide the ultimate musical entertainment experience, celebrated throughout our diverse creative, cultural and entertainment offerings, and presented in an authentic, unique, friendly and unpretentious atmosphere.</p>
      <p>Our Mission: 512unes is charged with marketing Austin's local bands nationally and internationally as a premier business and leisure destination, thus enriching our community's overall quality of life</p>

    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>