<%- include('partials/header.ejs', {title: "Home"}) %>


<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="carousel-styling" src="https://cdn.august.com.au/wp-content/uploads/2015/04/Allan_Get-Web-Developer-Savvy_header.png" alt="">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        
        <div class="container">
          <div class="carousel-caption text-start">
            <!-- Next 3 lines are not set in stone as they're redundant. Once data pulled from api, a random band will go here instead. -->
            <h1>HTML, CSS & JavaScript</h1>
            <!-- <p>Date: 2022-10-14</p> -->
            <p><a class="btn btn-lg btn-danger" href="http://localhost:3000/events?city=austin#:~:text=Favorite-,Austin%20City%20Limits%20Music%20Festival%20%2D%20Weekend%20Two,-Austin%20City%20Limits">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-styling" src="https://i.kym-cdn.com/entries/icons/original/000/019/884/Iceberg_Tiers_Meme_banner.jpg" alt="">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <!-- Next 3 lines are not set in stone as they're redundant. Once data pulled from api, a event will go here instead. -->
            <h1>Node.js, SQL & MongoDB</h1>

            <p><a class="btn btn-lg btn-danger" href="http://localhost:3000/events?city=austin#:~:text=Favorite-,THE%201975%20AT%20THEIR%20VERY%20BEST%20%2D%20NORTH%20AMERICA%202022,-THE%201975%20AT">Learn more</a></p>
          </div>
        </div>
      </div>
      <div id="carousel1" class="carousel-item">
        <img class="carousel-styling" src="https://www.tabletenniscoach.me.uk/wp-content/uploads/2019/07/weights.jpg" alt="">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill=""/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <!-- This actually could stay here. Or we can put something like  -->
            <h1>Running, Weightlifting & more.</h1>
            <p><a class="btn btn-lg btn-danger" href="http://localhost:3000/events?city=austin#:~:text=Favorite-,The%20Black%20Keys%20w/special%20guest%20Band%20of%20Horses%2DThe%20Dropout%20Boogie%20Tour,-The%20Black%20Keys">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- Carousel Ends -->

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <!-- Users who are less familiar with our web app will more likely choose to navigate to artists, events or venues somewhere in the middle of the page. -->
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="container marketing">
      <i class="fa-solid fa-guitar-electric"></i>
      <!-- Three columns of text below the carousel -->
      <div class="row">
          <i class="fa-solid fa-guitar-electric"></i>
        <div class="col-lg-4">
          <!-- Instead of pics, insert icons. For venues, look for a bar icon -->
          <span style="font-size: 140px;" width="340" height="340" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <i class="fa-solid fa-code"></i>
          </span>
          <!-- Artists link, same as Artists link from the header-->
          <h2>Frontend</h2>
          <p>Focuses on Layout, animations, content organization, navigation & graphics.</p>
          <p><a class="btn btn btn-danger" href="/about">See Developments &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <i class="fa-solid fa-guitar-electric danger"></i>
          <!-- Instead of pics, insert icons. For venues, look for a bar icon -->
          <span class="danger" style="font-size: 140px;" width="340" height="340" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <i class="fa-solid fa-database"></i>
          </span>
<!-- Events link, same as Events link from the header-->
          <h2>Backend</h2>
          <p>Building code, debugging, database managament.</p>
          <p><a class="btn btn btn-danger" href="/about">See Developments &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
  
        <div class="col-lg-4">
          <!-- Instead of pics, insert icons. For venues, look for a bar icon -->
          <span style="font-size: 140px;" width="340" height="340" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <i class="fa-solid fa-terminal"></i>
          </span>
<!-- Venues link, same as Venues link from the header-->
          <h2>Weekend</h2>
          <p>Hates live music, loves dogs and cats. Ocassional hikes and jui-jitsu.</p>
          <p><a class="btn btn-danger" href="/about">See Developments &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    <!-- Adds faint grey line between footer and news articles -->
    <hr class="featurette-divider" style="color:aliceblue">
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>
<script src="../client"></script>
<%- include('partials/footer.ejs') %>