
<h1>this is the post contact page</h1>

<table border="2">
  <tr>
    <th>First Name</th>
    <th>Age</th>
    <th>Password</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Date</th>
  </tr>
  


</table>