/***********************Default Template********************************/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}
/* .welcome {
	border-style: ;
	height: 40px;
	width:80%;
	margin: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 17%;
	} */
/*Above is nominal*/
/* #main-header{
	background-color:#171717;
	color:#fff;
	}
header {
	border: ;
}
.navbar {
	border: ;
	background-color: #243a5e; */
	/*margin: 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;*/
/* }
	.nav {
		border: ;
		padding: 20px 0px 20px 0px;
		background-color: #243a5e;
		list-style: none;
		display: flex;
		gap: 30px;
		align-items: center; /*Aligns vertically.*/
		/* justify-content: flex-start; /*Aligns horizontally.*/
		/* margin-left: 17%; 320px can work but only for limited displays. */ */
	/* }
	.nav li a {
		border: ;
		color: white;
		font-weight: bold;
		font-size: 1.4em;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-size: ;
		transition: all 0.3s ease 0s;
	}	
	.nav li a:hover {
		color: grey; */
		/*text-decoration: underline;*/
	} */

	/* .social {
		border: dotted;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
		margin-right: ;
	}
	.social li {
		display: ;
	}
	.social li a {
		text-decoration: ; /*Consider deleting*/
		display: ;
	}
	.social-logos {
		width: 20px;
		height: 20px;
	} */

/***********Drop down Begins******************/           /***********Drop down Begins******************/



/* .dropdown:hover {
	background-color: #171717;
	opacity: 0.9;
	border-top: 20px;

} */

/* #dropbtn:hover {
	background-color: #171717;
	color:#243a5e;
	padding-top: 20px;
	border-left: 5px;
	border-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
/*	padding: 12px 16px;*/
/* } */ */

/* 	
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #171717;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
	
.dropdown-content a {
	color: red;/*not working*/
	/* padding: 12px 16px;
	font-size: 5px; /*not working*/
	/* text-decoration: none;
	display: block;
	text-align: left;
}
	

	
	.dropdown:hover .dropdown-content {
		display: block;
	} */ */ */

	/***********Drop down Ends******************/						/***********Drop down Ends******************/
/* main {
	margin-top: 40px;
}

body {
background-color:#2f2f2f;
color:white;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.6em;
display: grid;
grid-template-areas: 
'header header header'
'asideLeft main asideRight'
'footer footer footer';
grid-template-columns: 1fr 4fr 1fr;
grid-template-rows:  100px 1fr 70px;
}

header {
	grid-area: header;
}
.asideLeft {
	grid-area: asideLeft;
}
main {
	grid-area: main;
}
.asideRight {
	grid-area: asideRight;
}
footer {
	grid-area: footer;
} */
/*Footer*/
/* footer {
	background: #171717;
	color:#fff;
	display: flex;
	text-align: ;
	bottom: 0px;
	left: 0px;
	}
.main-footer {
	display: flex;
	align-items: center; /*Aligns vertically.*/
	/* justify-content: center; /*Aligns horizontally.*/
}	 */ */
/*End of Footer*/
/***********************End of Default Template********************************/

/************************************Home Page*****************************************/
/*Websites Portfolio*/

/*Hover over port pics*/
.portpics {
	position: relative;
	padding: 0;
width: 170px;
height: 120px;
	display: block;
	cursor: pointer;
	overflow: hidden;
}
.content-text {
	opacity: 0;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	color: #1c87c9;
	background-color: rgba(200, 200, 200, 0.5);
	width: 170px;
	height: 120px;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align: center;
}
.portpics .content-text:hover {
	opacity: 1;
	color: ;
}

.portpics .content-text .text {
	height: 0;
	opacity: 1;
	transition-delay: 0s;
	transition-duration: 0.4s;
	color: black;
	font-weight: bold;
}
.portpics .content-text:hover .text {
	opacity: 1;
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
}

/*End of HOver over Port Pics*/


/************************************End of Home Page*****************************************/
/************************************About Page************************************/
/* .about_grid {
	font-size: 20px;
	min-height: auto;
	width:100%;
	max-height: 100%;
	color:azure;
	display: grid;
	align-items: center;
	grid-template-areas:
	'frontEndimg frontEnd'
	'ITLead SWK'
	'RR1 IT';
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
}
.frontEnd {
	border: ;
	background-color: #;
	grid-area: frontEnd;
	max-width: 100%;
	max-height: 100%;
}
.frontEndimg {
	border: solid;
	grid-area: frontEndimg;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;

}
.ITLead {
	grid-area: ITLead;
}
.SWK {
	grid-area: SWK;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;
	border: solid;
}
.IT {
	grid-area: IT;
}
.RR1 {
	grid-area: RR1;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;
	border: solid;
} */



/************************************End of About Page************************************/
/************************************Contact Page************************************/
.sub-form {
	border:;
	background-color:#171717;
}
.contact-form {
	display: grid;
	max-width: 100%;
}
/************************************End of Contact Page************************************/
@media(max-width:600px){
#main{
	width:100%;
	float:none;
}

/*
#main{
float:left;
width:70%;
padding:0 30px;
box-sizing: border-box;
}
*/
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
}
.content-wrap {
  min-height: calc(100% - 60px); /* Adjust the value to accommodate the footer height */
}

.footer {
  height: 60px; /* Set the desired height for the footer */
}